#login label{
    display: inline-block;
    width: 20%;
}
#login{
    background: rgb(117, 117, 255);
    display: inline-block;
    width: 50vw;
    padding: 2% 0 2% 2%;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('Hoyo.jpg')
}